body {
	color: #999;
	font-family: monospace;
	font-size: 10px;
	text-align: center;
}

svg {
	display: block;
	margin: 20px auto;
}

.axis line,
.axis path {
	fill: none;
	stroke: #ddd;
	shape-rendering: crispEdges;
}

.line {
	fill: none;
	stroke-width: 2;
}

.bar {
	fill: dodgerblue;
}

.t-circle {
	stroke: white;
	stroke-width: 1;
}